---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE_TITLE } from "../config";

const allPosts = await getCollection("posts");
const sortedPosts = allPosts.sort(
  (a: CollectionEntry<"posts">, b: CollectionEntry<"posts">) =>
    b.data.date.getTime() - a.data.date.getTime()
);
const recentPosts: CollectionEntry<"posts">[] = sortedPosts.slice(0, 5);
---

<Layout title={SITE_TITLE}>
  <h1>Recent Posts</h1>
  <ul class="post-list">
    {
      recentPosts.map((post) => (
        <li class="post-item">
          <div class="post-meta">
            {post.data.date.toLocaleDateString("ja-JP", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })}
          </div>
          <h2 class="post-title">
            <a href={`/posts/${post.slug}`}>{post.data.title}</a>
          </h2>
          <div class="tags">
            {post.data.tags.map((tag) => (
              <a href={`/tags/${tag}`} class="tag">
                {tag}
              </a>
            ))}
          </div>
        </li>
      ))
    }
  </ul>
  <a href="/posts" class="all-posts-link">→ All Posts</a>
</Layout>
